<!-- <h1>Softrams Contractor App</h1> -->
<style>
	#searchbox{
		float:right;
		margin:0 0 10px,10px;
	}
</style>

				<div id="searchbox">
					<strong>{{activeCont}}</strong> Active Contractors<br><br>
					Search:<input type="text" ng-model="search.fName" placeholder="search contractors">
				</div><br>
				<table class="table">
					<!-- <tr><td></td><td></td><td>Search:</td><td><input type="text" ng-model="search.name" placeholder="search contractors"></td></tr> -->
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Title</th>
							<!-- <th>Email</th> -->
							<!-- <th>Official Email</th> -->
							<th>Start Date</th>
							<th>Status</th>
							<!-- <th>Recent Changes</th> -->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="contact in contactlist | filter:search.fName | orderBy:'id'">
							<td>{{contact.id}}</td>
							<td><a href="/detail/{{contact.id}}">{{contact.fName}} {{contact.lName}}</a></td>
							<td>{{contact.labor}}</td>
							<!-- <td>{{contact.email}}</td> -->
							<!-- <td>{{contact.workEmail}}</td> -->
							<td>{{contact.sDate.substr(5,2)}}/{{contact.sDate.substr(8,2)}}/{{contact.sDate.substr(0,4)}}</td>
							<!-- <td>{{contact.sDate.substr(0,10)}}</td> -->
							<td>{{contact.contractStatus}}</td>						
							<!-- <td><button class="btn btn-warning" ng-click="edit(contact._id)">Edit</button></td> -->
							<!-- <td ng-show="{{contact.changes}}"><a href="" ng-click="open()">Recent Changes</a></td> -->
							<!-- <div modal="showModal" close="cancel()">
								<div class="modal-header">
        							<h4>Recent changes</h4>
    							</div>
								<div class="modal-body">
							        <p>{{message}}</p>
							        <p>{{contact.changes}}</p>
							        <p></p>
							    </div>
							    <div class="modal-footer">
							      <button class="btn btn-success" ng-click="ok()">Okay</button>						
							    </div>
							</div> -->
						</tr>
					</tbody>
				</table>
				<button class="btn btn-info"><a href="/main">Home</a></button>
				<button class="btn btn-success" ng-csv="getArray" csv-header="getHeader()" ng-click="clickFn()" filename="Softrams_Contractors_data.csv">Get Backup</button>