					<!-- <form action="/login" method="POST"> -->
					<table>
						<tr>
							<th>Username:</th>
							<td><input type="text" ng-model="username" placeholder="username"></td>
						</tr>
						<tr>
						<!-- <input type="text" ng-model="username" placeholder="username"><br><br> -->
							<th>Password:</th>
							<td><input type="password" ng-model="password" placeholder="password"></td>
						</tr>
						<!-- <input type="password" ng-model="password" placeholder="password"><br><br> -->
						<!-- <input type="submit"> -->
						<tr>
							<td><button ng-click="verify(username,password)">Login</button></td>
						</tr>
					</table>
					<!-- </form> -->